!!!
%html{"ng-app"=>"chatty", "ng-controller" => "PostsCtrl"}
  %head
    %title Chatty
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand Chatty
          %ul.nav.pull-right
            - if current_user
              %li= link_to "Sign Out", destroy_user_session_path, :method => :delete
            - else
              %li= link_to "Sign In", new_user_session_path

    .container
      - flash.each do |alert|
        .alert
          %button{type: "button", class: "close", "data-dismiss" => "alert"}= "&times;".html_safe
          = alert.second
      = yield
    .navbar.navbar-fixed-bottom
      .navbar-inner
        .container
          %form.navbar-search.pull-left{"newpost" => ""}
            %input.chat-box{type: "text", placeholder: "Type here"}
